{
  "clusterCrn": "{{ source_cluster_crn }}",
  "policyName": "{{ replication_policy_name }}",
  "policyDefinition": {
    "name": "{{ replication_policy_name }}",
    "type": "FS",
    "sourceDataset": {
      "hdfsArguments": {
        "path": "{{ source_hdfs_path }}"
      }
    },
    "frequencyInSec": {{ frequency_in_sec }},
    {% if start_time %}
    "startTime": "{{ start_time }}",
    {% endif %}
    "targetDataset": "{{ target_aws_s3_dataset_path }}",
    "cloudCredential": "{{ target_adls_credential_name }}",
    "sourceCluster": "{{ source_cluster_identifier }}",
    "description": "{{ replication_policy_description }}"
    {% if submit_with_user %}
    ,"cmPolicySubmitUser": {
        "sourceUser": "{{ source_user }}",
        "userName": "{{ user_name }}"
    }
    {% endif %}
  }
}


